<?xml version="1.0"?>
<config>
    <modules>
        <Aaryasolutions_Specialdeals>
            <version>0.1.0</version>
        </Aaryasolutions_Specialdeals>
    </modules>
    <global>
        <blocks>
            <specialdeals>
                <class>Aaryasolutions_Specialdeals_Block</class>
            </specialdeals>
        </blocks>
        <models>
        
            <specialdeals>
                <class>Aaryasolutions_Specialdeals_Model</class>
                <resourceModel>specialdeals_mysql4</resourceModel>
            </specialdeals>

            <specialdeals_mysql4>
                <class>Aaryasolutions_Specialdeals_Model_Mysql4</class>
                <entities>
                    <specialdeals>
                        <table>aarya_specialdeals</table>
                    </specialdeals>
                </entities>
            </specialdeals_mysql4>
        </models>
         <resources>
            <specialdeals_setup>
                <setup>
                    <module>Aaryasolutions_Specialdeals</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </specialdeals_setup>
            <specialdeals_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </specialdeals_write>
            <specialdeals_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </specialdeals_read>
        </resources>  

        <helpers>
            <specialdeals>
                <class>Aaryasolutions_Specialdeals_Helper</class>
            </specialdeals>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <specialdeals>
                    <file>specialdeals.xml</file>
                </specialdeals>
            </updates>
        </layout>
        <routers>
            <specialdeals>
                <use>standard</use>
                <args>
                    <module>Aaryasolutions_Specialdeals</module>
                    <frontName>specialdeals</frontName>
                </args>
            </specialdeals>
        </routers>
    </frontend>
    <adminhtml>
        <menu>
            <aaryasolutions>
                <title>Aaryasolutions</title>
            <sort_order>100</sort_order>
                <children>
                    <specialdeals>
                        <title>Special Deals</title>
                                    <sort_order>10</sort_order>
                                    <action>specialdeals/adminhtml_specialdeals</action>
                    </specialdeals>

                    </children>
            </aaryasolutions>
        </menu>
       <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>     .
                </all>  
                <admin> 
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <specialdeals>
                                            <title>Special Deals</title>
                                        </specialdeals>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <aaryasolutions>
                            <title>Aaryasolutions</title>
                            <children>
                                <deal>
                                    <title>Aarya</title>
                                    <children>
                                        <specialdeals>
                                            <title>Special Deals</title> 
                                        </specialdeals>
                                    </children>
                                </deal>
                            </children>
                        </aaryasolutions>
                    </children>         
                </admin>    
            </resources>
        </acl>  
      </adminhtml>
</config>

